<!DOCTYPE html>
<html xmlns:th="https://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body class="text-center" >
<h1>Login Page</h1>

<form class="form-signin" action="/login" method="post">




<div class="col-auto">
	<div>
	<label for="username">UserName</label>
	<input type="text" id="username" name="username" autofocus="autofocus" placeholder="Username">
	</div>
	<div>
	<label for="password">Password</label>&nbsp;
	<input type="password" id="password" name="password" placeholder="Password">
	</div>
	<div>
	<input class="btn btn-success" type="submit" id="login-submit" name="login-submit" value="Login"></div>
</div>
</form>

<a class="btn btn-primary" href="/">Go Home</a>

</body>
</html>